body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear {
    flex: 1;
}


/* Calc body */
.calcContainer {
    display: flex;
    background-color: blue;
    max-width: 300px;
    min-width: 300px;
    height: 400px;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
}

.display {
    display: flex;
    background-color: grey;
    max-width: 300px;
    height: 60px;
    border-radius: 5px;
    align-items: center;
    justify-content: right;
    font-size: 50px;
    padding: 10px;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    flex: 1;
}

.row {
    display: flex;
    justify-content: space-evenly; 
}

/* Buttons */
.button {
    border-radius: 15px;
    display: flex;
    background-color: red;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
}

